<div class="jumbotron">
    <h1>I4DAB #4</h1>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Swagger</h3>
        <a href="http://localhost:14065/swagger" class="btn btn-info" role="button">Go to swagger</a>
    </div>
    <div class="col-md-4">
        <h3>Api Test</h3>
        @Html.ActionLink("View Prosumers", "ApiTest", "Home", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        <h3>C</h3>
    </div>
</div>
